*.DS_store
*.xcuserstate
*.gitattributes

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.xccheckout

lua2d_glfw/lua2d_glfw.xcodeproj/project.xcworkspace/xcshareddata/lua2d_glfw.xccheckout
